@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }

  body{
    background-color: teal;
  }

  .titulo{
    display: flex;
    justify-self: center;
  }

  .form{
    background: url(../img/ilustracao-do-conceito-de-placa-scrum_114360-1570.jpg);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
         align-items: center; 
         border: 2px solid black;
         height: 612px;

  }

  input {
    width: 100%;
    flex: 1;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
  }

  button[type="submit"] {
    background-color: teal;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    padding: 10px 15px;
    border: 1px solid #DDD;
    text-align: center;
  }
  
  td {
    color: #333;
    font-weight: 600;
  }
  
  tr:nth-child(even){
    background-color: #F5F5F5;
  }

  .btn-action {
    border: none;
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: yellow;
  }

  .btn-action-delete{
    border: none;
    border-radius: 5px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: red;
  }

  



